.emacs.d/elpa/
.emacs.d/places
.emacs.d/ido.last
.quicklisp/dists/
.quicklisp/local-projects/
.quicklisp/tmp/
.emacs.d/.lsp-session-v1
.emacs.d/eshell/
.emacs.d/transient/
.emacs.d/auto-save-list/
.emacs.d/.dap-breakpoints
.emacs.d/recentf
.emacs.d/history
